@font-face {
    src: url("../font/Amiri-Regular.ttf");
    font-family: baran;
}

@font-face {
    src: url("../font/B Esfehan Bold.TTF");
    font-family: esf;
}

h3{
    font-family: esf;
}

body{
    font-family: baran, serif;
}