@font-face {
    src: url("../font/BERNHC.TTF");
    font-family: brench;
}

@font-face {
    src: url("../font/BELL.TTF");
    font-family: bell;
}
h1 , .image-text{
    font-family: brench, serif;
}

body{
    font-family: bell, serif;
}