body {
    font-family: Arial, serif;
    margin: 0;
    padding: 0;

}

.video-full{
    width: 100%;
}

.navbar {
    display: flex;
    background-color: #515151;
}

.navbar input[type=submit] {
    margin: 0 1px;
    color: white;
    font-size: 18px;
    padding: 5px;
    background-color: #7c7c7c;
    border-radius: 11px;
    transition: background-color;
    transition-duration: 400ms;
    transition-timing-function: ease;
}

.navbar input[type=submit]:hover {
    cursor: pointer;
    background-color: #5a5a5aaa;
}

.nav-center {
    color: #ffffff;
    font-size: 22px;
    padding: 15px;

}

.right-nav {
    display: flex;
    /*float: right;*/
    /*position: absolute;*/
    right: 0;
}

.banner {
    position: relative;
    margin: auto;
}

.image-text {
    position: absolute;
    top: 50px;
    left: 20px;
    font-size: 70px;

}

.mySlides1 , .mySlides2,.mySlides3 {
    display: none;
}

.slider {
    display: none;
}

.swipe {
    -webkit-animation-name: swipe;
    -webkit-animation-duration: 3s;
    animation-name: swipe;
    animation-duration: 1s;
}

@-webkit-keyframes swipe {
    from {
        opacity: .8;
    }
    to {
        opacity: 1;
    }
}

@keyframes swipe {
    from {
        opacity: .8;
    }
    to {
        opacity: 1;
    }
}

.banner img {
    width: 100%;
    height: 450px;
}


.layout-holder {

    margin: 5px;

}

.panel {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    padding: 9px;
    border-radius: 10px;
    background-color: #dbdbdb;
}

.main-content {
    padding: 10px;
    margin: 0 auto;
}

.side-content {

}

footer {
    background-color: #d7d7d7;
}

.p-box {
    width: 250px;
    text-align: center;
}

.flex {
    display: flex;

}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.small-img {
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.round {
    border-radius: 10px;
}

.card {
    background-color: #dbdbdb;
    margin: 5px;
    padding: 15px 0;
    border-radius: 15px;
}

.center-margin {
    margin: 0 auto;

}

.dis-block {
    display: block;
}

.text-center {
    margin: 9px;
    text-align: center;
}

.large-text {
    font-size: 20px;
}

.keep-flex {
    display: flex;
}

a {
    text-decoration: none;
    color: #005cff;
}


a:visited {
    color: #4c00ff;
}

.info-footer {
    margin: 0 0 0 10%;
    padding: 10px;
}

a:hover {
    color: #4cff00;
}

.slideshow-container img {
    width: 380px;
    height: 380px;
}

.icon{
    height: 20px;
    width: 20px;
}

.section{
    border: 4px solid #0c002e;
    padding: 10px;
}


.p-dec{
    width: 50%;
    font-size: 28px;
}


@media only screen and (max-width: 600px) {
    .nav-link {
        font-size: 16px;
        margin: 0 auto;
    }

    .nav-center {
        display: none;
    }

    .right-nav {
        position: relative;
    }

    .banner img {
        height: 250px;
    }

    .image-text {
        font-size: 40px;
    }

    .small-img {
        width: 100%;
    }

    .p-box {
        width: 100%;
    }

    .flex {
        display: block;
    }

    .large-text {
        font-size: 14px;
    }

    .p-dec{
        font-size: 16px;
    }
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.footer-box{
    background-color: #919191;
    padding: 10px;
    margin: 9px;
    border-radius: 15px;

}

